.idea/
data/
doc/
SConscript-disabled
log
.pydevproject
.directory
*.o
*~
*.log
*.aux
*.tns
*.dvi
*.tex.backup
*.out
*.nav
*.toc
*.snm
*.bbl
*.blg
*.bak
*.class
*.dat
results/*.pat
results/*.net
bin
.sconf_temp
.project
.cproject
.scons*
_*Classes.cpp
src/localization
src/*Exec
*.fdb_latexmk
#old/
*.h5
*.dot
graph/
*.mat
*.pyc
*.settings/
*.pkl
*.shl
*.prof
deprecated/
outdated/
