/* the overlayed element */

@font-face {
	font-family: "WaitingfortheSunrise";
	src: url('../WaitingfortheSunrise.ttf');
}

/*Body*/
body {
	background: #306074;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
}
a {
	color: #E6ED86;
}
a:hover {
    color: #FF9900;
}

.container {
	width: 800px;
}


#person-name {
	font-family: "WaitingfortheSunrise";
	font-size: 80px;
	margin: 0;
	margin-top: 60px;
	margin-bottom: 30px;
	text-align: center;
}

p {
	text-align: justify;
}


#mini-bio {
    margin-top: 40px;
    font-size: 16px;
    font-style: oblique;
}

.webid-entry{
    font-size: 16px;
    margin-bottom: 5px;
}



.hidden-data {
    display: none;
}

.webid-tls-key{
    width: 20%;
    list-style-type: none;
	display: inline-block;
	overflow:hidden;
    text-overflow:ellipsis;
    margin-right: 60px;
}
.webid-tls-key:hover{
    text-overflow: inherit;
    overflow: visible;
}

.fingerprint{
	overflow:hidden;
    text-overflow:ellipsis;
}
.fingerprint:hover{
    text-overflow: inherit;
    overflow: visible;
}

#mail-hashes{
    display: none;
}

#webid-tls-keys{
    display: none;
}

.info-block{
    margin-bottom: 50px;
}


#photo {
	width: 175px;
	height: 175px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
    float: right;
    margin-bottom: 20px;
}



footer {
    margin: 0 auto;
    margin-top: 75px;
    text-align: center;
}
