

          <div>
              <h4>WebID-TLS<small><a href="#webid-tls-keys" id="show-webid-tls-keys" class="btn btn-link">(see public keys)</a></small></h4>
              <div id="webid-tls-keys">
	      {% for key_uri in graph.objects(user_uri, ns.cert['key']) %}
	      <span class="hidden-data" rel="cert:key" resource="{{ key_uri }}"></span>
	      <div class="webid-tls-key col-md-7" about="{{ key_uri }}" typeof="cert:RSAPublicKey">
                        {% set key_label = graph.value(key_uri, ns.rdfs['label']) %}
                        {% if not key_label is none %}<h5 class="label" property="rdfs:label">{{
                                        graph.value(key_uri, ns.rdfs['label']) }}</h5> {% endif %}
                        <dl class="dl-horizontal">
                            <dt>Modulus</dt>
                            <dd class="modulus" property="cert:modulus" datatype="xsd:hexBinary">{{
                                graph.value(key_uri, ns.cert['modulus']) }}</dd>
                            <dt>Exponent</dt>
                            <dd property="cert:exponent" datatype="xsd:integer">{{
                                    graph.value(key_uri, ns.cert['exponent']) }}</dd>
                        </dl>
                  </div>
              {% endfor %}
              </div>
          </div>
